.Sidebar {
  object-fit: cover;
  width: 280px;
  height: 1080px;
  background: linear-gradient(
    180deg,
    #e26a6a 0%,
    #e26a6a 0%,
    rgba(222.76, 105.23, 108.68, 0.99) 2%,
    rgba(200.56, 102.86, 127.86, 0.92) 15%,
    rgba(55.84, 87.37, 252.88, 0.46) 100%
  );
  position: sticky;
  flex-direction: column;
  border-right: 2px solid #000;
  display: flex;
}

button {
  width: 280px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  width: 200px;
  bottom: 30%;
}

.loginstatus {
  font: bold 16px;
  background: #fff;
}
.loginstatus:hover {
  background: pink;
  transition: ease 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: auto;
  bottom: 100%;
  z-index: 1;
  background-color: #f9f9f9;
  width: 200px;
  transition: ease 2s;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
}

.dropdown-content a:hover {
  background-color: #ececec;
  cursor: pointer;
  tansition: ease 2s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: ease 1s;
}
