/* 모달창을 화면 중앙. 최상단에 노출 */
.modal {
  /* 모달창 크기 */
  width: 30%;
  height: 500px;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  /* 모달창 디자인 */
  background-color: pink;
  opacity: 0.7;
  border: 1px solid black;
  border-radius: 8px;
}

.modal > .Title {
  margin-top: 30px;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
}

.modalbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.formbox {
  text-align: center;
}

.Title {
  top: 30px;
}

.signupBtn:hover {
  width: 280px;
  background-color: pink;
}

.modalContainer {
  background-color: lightgreen;
  width:30%;
  height: 30%;
}