/*font url*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');





.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background: url(https://i.postimg.cc/nhBLbYRT/BG-02.jpg);
  /* background: url(https://i.postimg.cc/8k7NgmsW/BG-01.jpg); */
  /* background: url(https://ccdn.lezhin.com/v2/comics/5469317090312192/images/wide.jpg?updated=1634099797967&width=632); */
}

.navb {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    border-bottom:0.3px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    color: white;
    width: 100%;
    padding: 0.3em;
    height: 2.5em;
}

.navMenu {
    color : rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    float: left;
}
.navMenu_logo {
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: right;
    justify-content: end;
    margin: 10px;
}

.navMenu_l {
    color: rgb(180, 180, 180);
    text-decoration: none;
    float: right;
    justify-content: end;
    margin: 10px;
}

.navMenu_r {
    color: rgb(94, 94, 94);
    text-decoration: none;
    float: right;
    justify-content: end;
    margin: 10px;
}

/*div박스 모음*/
.box {
    text-align: center;
    box-align: center;
    border: 2px solid black;
    display: flex;
}

.searchbar {
    background-color: rgba(255,0,0,0.5);
    display: flex;
    justify-content:center;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    font-family: 'Grand Hotel';
    margin:0 auto;
}

.formbox {
    font-family: arial;
    display: flex;
    justify-content:center;
}

.formbox label {
    float: left;
    font-size: 13px;
    width:70px;
    justify-content: flex-end;
}


/* 버튼모음 */
.button01 {
    width: 100px;
    height :25px;
    background-color:rgb(85, 85, 85);
    color: white;
    font-size: 12px;
    box-shadow: 0 4px 16px rgba(0, 50, 50, 0.3);
    border-radius: 20px; 
    cursor: pointer;
    }

.search_engine {
    display: flex;
}



/* 기타요소 모음 */

    




/* @babel/plugin-proposal-private-property-in-object */