.Layout {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: "sd ma";

  float: left;
  height: 100vw;
  width: 100%;
}

.Mainregion {
  grid-area: ma;
  background-color: grey;
  display: flex;
  height: 100vw;
  width: 100%;
  float: left;
  position: sticky;
}

.Mainregion > div {
  margin: 0 auto;
}
/*Main Page*/

.Main {
  width: 100%;
  height: 100%;
  float: left;
}

.header {
  position: sticky;
  top: 40px;
  margin-left: 28%;
  width: 100%;
  bottom: 50px;
}

.Dalle_createbar {
  height: 50px;
  width: 30vw;
}

/*Create your Image!*/
.btnCreate {
  height: 100%;
  width: 5vw;
  padding: 20px 30px;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
}

.btnCreate:hover {
  border: 1px solid #transparent;
  color: #80ffd3 !important;
}
.btnCreate::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(
    180deg,
    #e26a6a 0%,
    #e26a6a 0%,
    rgba(222.76, 105.23, 108.68, 0.99) 2%,
    rgba(200.56, 102.86, 127.86, 0.92) 15%,
    rgba(55.84, 87.37, 252.88, 0.46) 100%
  );
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btnCreate::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btnCreate:hover::before {
  opacity: 1;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.btnCreate:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.containerArea {
  position: relative;
  margin-top: 15%;
  margin-left: 5%;
  width: 100%;
  height: 1080px;
}

.post_box {
  width: 300px;
  height: 300px;

  /* width: 300px;
  height: 300px; */
  margin: 1rem;
  border-radius: 20px;
  background-color: red;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
