.Layout {
  display: grid;
  grid-template-columns: 280px auto;
  
  float: left;
  height: 100vw;
  width: 100vw;
}

.Mainregion {
  background-color: skyblue;

  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  float: left;
}