.Layout {
  display: grid;
  grid-template-columns: 200px auto;
  
  float: left;
  height: 100%;
  width: 100%;
}

.Mainregion {
  background-color: green;
  display: flex;
  height: 100%;
  width: 100%;
  float: left;
  position: sticky;
}

.Mainregion > div {
  margin: 0 auto;
}
